<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please Update the Form</h1>
    <form action="/update_detail/{{employee.id}}" method="post">
        {% csrf_token %}
        <div>
            <label for="">Name:-</label><br>
            <input type="text" name="name" id="" value="{{employee.name}}">
        </div>
        <div>
            <label for="">Address:-</label><br>
            <textarea name='address' id='' cols="50" rows='10'>{{employee.address}}</textarea>><br>
        </div>
        <div>
            <label for="">Deppartment:-</label><br>
            <input type="text" name="deppartment" id="" value="{{employee.deppt}}"><br>
        </div>
        <br>
        <div>
            <input type="submit" value="enter">
        </div>
    </form>
</body>
</html>